
.container2 {
    border: 1px solid black;
    padding: 10px;
    height: 300px;
}

.container2 .box{
    border: 1px solid red;
    background: yellow;
    padding: 10px;
    width: 100px;
    position: absolute;
    left: 20px;
    top: 20px;
    transition: left 5s;


}
.container2 .box:hover {
    
    background: blue;
    left: 700px;
}

